#app{
    background-color: navajowhite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 5%;
}

#boks {
    border: solid 1px black;
    text-align: center;
    padding: 5%;
}

#divTeller{
    font-size: 64px;
}

#skjema{
    background-color: sandybrown;

}